.gitignore
.idea
.vscode
node_modules
dist
coverage
*.log
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.DS_Store
*.swp
Thumbs.db
*.iml
*.sublime-project
*.sublime-workspace
*.bak
*.tmp
*.old
*.orig
.*.
*.rej
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.dylib
*.log
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z
.*
.ipynb